/* 
    Created on : Apr 26, 2023, 3:12:58 PM
    Author     : LENOVO
*/

.discountForm table tr td :nth-child(0){
    width: 30%;
}

.discountForm table tr td input,  .discountForm table tr td select{
    width: 100%;
}

.discountForm{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.discountForm table tr td{
    padding: 20px;
}

.mybox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mybox > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.dis-none{
    display: none;
}

.dis-inline{
    display: inline;
}



